@font-face {
    font-family: "Heebo-Bold";
    src: local(Heebo-Bold),
      url(./Fonts/Heebo-Bold.woff2) format("woff2"),
      url(./Fonts/Heebo-Bold.woff) format("woff"),
  }
@font-face {
    font-family: "Montserrat-SemiBold";
    src: local(Montserrat-SemiBold),
      url(./Fonts/Montserrat-SemiBold.woff2) format("woff2"),
      url(./Fonts/Montserrat-SemiBold.woff) format("woff"),
  }
@font-face {
    font-family: "Poppins-Bold";
    src: local(Poppins-Bold),
      url(./Fonts/Poppins-Bold.woff2) format("woff2"),
      url(./Fonts/Poppins-Bold.woff) format("woff"),
  }
@font-face {
    font-family: "Poppins-Regular";
    src: local(Poppins-Regular),
      url(./Fonts/Poppins-Regular.woff2) format("woff2"),
      url(./Fonts/Poppins-Regular.woff) format("woff"),
  }