.section_listofgooddesign {
    position: relative;
    margin-bottom: 100px;
    font-family: "Poppins-Regular";
    font-style: normal;
    .listofgooddesign_heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        padding-bottom: 48px;
        max-width: 300px;
    }
    .listofgooddesign_lists {
        .list {
            padding-bottom: 20px;
        }
        li {
            ul {
                li {
                    img {
                        max-width: 95%;
                        background: #F2C94C;
                        border-radius: 24px;
                    }
                }
                li {
                    p {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 18px;
                        color: #828282;
                    }
                }
                li {
                    h5 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 27px;
                        color: #333333;
                    }
                }
            }
        }
    }
    .section_listofgooddesign--button {
        margin-top: 35px;
        color: blue;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #2D9CDB;
        background-color: white;
    }
}

@media(min-width: 400px) {
    .section_listofgooddesign {
        max-width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        margin-bottom: 120px;
        .listofgooddesign_heading {
            padding-bottom: 0;
            max-width: 448px;
            font-size: 30px;
            line-height: 40px;
        }
    }
}
@media(min-width: 720px) {
    .section_listofgooddesign {
        margin-bottom: 240px;
        .listofgooddesign_heading {
            padding-bottom: 0;
            max-width: 448px;
            font-size: 36px;
            line-height: 54px;
        }
        .listofgooddesign_lists {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .list:nth-of-type(2n - 1) {
                margin-top: 160px;
                padding-bottom: 0;
                column-gap: 10%;
            }
        }
        .section_listofgooddesign--button {
            position: absolute;
            top: 100%;
            right: 0;
            margin-top: 0;
        }
    }
}