.masthead {
    .first_link {
        font-family: "Poppins-Regular";
        padding-bottom: 15px;
        font-style: normal;
        padding-left: 5%;
        a {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #2D9CDB;
        }
    }   
    .masthead_heading {
        font-family: "Poppins-Regular";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        max-width: 272px;
        margin-right: auto;
        padding-bottom: 20px;
        padding-left: 5%;
    }
    .masthead_homeImage {
        border-radius: 18px;
    }
}

@media(min-width: 720px) {
    .masthead {
        .first_link {
            padding-bottom: 18px;
            padding-left: 16%;
            a {
                font-size: 20px;
                line-height: 27px;
            }
            a:hover {
                color: blue;
                font-weight: 700;
            }
        }
        .masthead_heading {
            font-size: 48px;
            line-height: 50px;
            max-width: 543px;
            padding-bottom: 42px;
            padding-left: 16%;
        }
        .masthead_homeImage {
            max-width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
    }
}