.section_offeringservices {
    padding-top: 60px;
    max-width: 90%;
    margin-right: 4%;
    margin-left: 4%;
    .section_offeringservices--heading {
        font-family: "Poppins-Regular";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        max-width: 260px;
    }
    .article_container {
        article {
            max-width: 250px;
            padding-top: 16px;
            padding-bottom: 32px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 42px;
            svg {
                background-color: blue;
                padding: 16px;
                border-radius: 12px;
                fill: white;
                animation: roll 3s infinite;
                transform: rotate(30deg);
            }
            @keyframes roll {
                0% {
                  transform: rotate(0);
                }
                100% {
                  transform: rotate(360deg);
                }
            }              
            h4 {
                font-family: "Poppins-Regular";
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                color: #333333;
                padding-top: 35px;
                padding-bottom: 24px;
            }
            p {
                font-family: "Poppins-Regular";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #4F4F4F;
                max-width: 273px;
                padding-bottom: 40px;
            }
            button {
                font-family: "Poppins-Regular";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: blue;
                border: none;
                border-radius: 12px;
                padding: 10px 10px;
                outline: none;
                cursor: pointer;
                box-shadow: 1px 1px 3px black;
            }
        }
        article:hover {
            background: #FFFFFF;
            box-shadow: 1px 1px 5px black;
            border-radius: 24px;
            cursor: pointer;
            button {
                background-color: blue;
                color: white;
            }
            a {
                svg {
                    animation: none;
                    transform: rotate(0deg);
                }
            }
        }
        .article_frontEnd {
            background: #FFFFFF;
            box-shadow: 1px 1px 5px black;
            border-radius: 24px;
            cursor: pointer;
            .article_frontEnd--button {
                background-color: blue;
                color: white;
            }
            a {
                svg {
                    background: #27AE60;
                }
            }
        }
        .article_backEnd {
            margin-bottom: 80px;
            a {
                svg {
                    background: #EB5757;
                }
            }
        }
    }
}

@media(min-width: 720px) {
    .section_offeringservices {
        padding-top: 100px;
        max-width: 75%;
        margin: auto;
        padding-bottom: 100px;
        .section_offeringservices--heading {
            max-width: 350px;
            font-size: 36px;
            line-height: 54px;
        }
        .article_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            article {
                margin-bottom: 0;

                p {
                    max-width: 280px;
                }
            }
            .article_backEnd {
                margin-bottom: 0;
            }
        }
    }
}